
  .container {
    position: absolute;
    top: 8px;
    left: 659px;
    border: outset 6px #ddd;
    margin: 0 auto;
    padding: 0;
  }

  .tile {
    margin: 0;
    background-color: #ddd;
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
    padding: 10px;
  }

  #upper {
    position: absolute;
    top: 14px;
    left: 665px;
    z-index: 1000;
    box-sizing: border-box;
  }

  .upper-tile {
    margin: 0;
    background-color: #ddd;
    float: left;
    box-sizing: border-box;
    padding: 10px;
  }